<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/styles.css">
    <title>Mi Tarjeta</title>
</head>
<body>
    <div class="card">
        <h1><span class="highlight">Nombre:</span> Abigail Tovar</h1>
        <h2><span class="highlight">Especialidad:</span> Desarrollo de software multiplataforma</h2>
        <h3><span class="highlight">Gustos:</span> Escuchar música y pasar tiempo con mi familia</h3>
    </div>
</body>
</html>